.page-header {
	@include flex(row);height: new-sizing(36);
	align-items: center;
	padding: 0 new-sizing(15);
	position: relative;
	background-color: linear-gradient(119.4deg, #87D3FF 13.53%, #99A9FF 65.51%, #3F7CFF 111.38%);
	.back {
		@include flex(row);
		justify-content: center;
		align-items: center;
		.icon {
			width: new-sizing(28);
			height: new-sizing(28);
		}
	}
	.title {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		.text {
			font-size: new-sizing(18);
			line-height: new-sizing(25);
		}
	}
}
	.addform{
		width: 85%;
		margin: auto;
		margin-top: new-sizing(10);
	}
	.tips{
		width: 80%;
		margin: auto;
		font-family: 'PingFang SC';
		font-size: new-sizing(13);
		color: $uni-text-color;
		opacity: 0.4;
		margin-top: new-sizing(20);
	}
	.wxadd{
		width: new-sizing(321);
		height: new-sizing(47);
		text-align: center;
		border-radius: new-sizing(4);
		background: $uni-bg-color-grey;
		line-height: new-sizing(47);
		font-size: new-sizing(13);
		color: #333C4F;
	}
	.submit{
		width: new-sizing(306);height: new-sizing(48);
		background: #6556FD;
		border: 2px solid rgba(255, 255, 255, 0.3);
		box-shadow: 0px 3px 4px rgba(101, 86, 253, 0.1);
		border-radius: new-sizing(33);
		font-family: 'PingFang SC';
		font-size: new-sizing(14);
		line-height: new-sizing(48);
		color: $uni-text-color-inverse;
		position: absolute;
		left: new-sizing(0);right: new-sizing(0);bottom: new-sizing(100);
		margin: auto;
	}
	.submit::after{ border: none;} 