.header{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: $uni-bg-color;
	.page-header {
		@include flex(row);height: new-sizing(36);
		align-items: center;
		padding: 0 new-sizing(15);
		position: relative;
		background-color: linear-gradient(119.4deg, #87D3FF 13.53%, #99A9FF 65.51%, #3F7CFF 111.38%);
		.back {
			@include flex(row);
			justify-content: center;
			align-items: center;
			.icon {
				width: new-sizing(28);
				height: new-sizing(28);
			}
		}
		.title {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			.text {
				font-size: new-sizing(18);
				line-height: new-sizing(25);
			}
		}
	}
}
.header-holder{
	height: new-sizing(36);
}
.tablist{
		width: 100%;
	}
	.empty{
		width: 100%;height: new-sizing(400);
		position: absolute;
		top: new-sizing(0);bottom: new-sizing(0);left: new-sizing(0);right: new-sizing(0);
		margin: auto;
		z-index: -1;
	}
	.add{
		width: new-sizing(306);height: new-sizing(48);
		background: #6556FD;
		border: 2px solid rgba(255, 255, 255, 0.3);
		box-shadow: 0px 3px 4px rgba(101, 86, 253, 0.1);
		border-radius: new-sizing(33);
		font-family: 'PingFang SC';
		font-size: new-sizing(14);
		line-height: new-sizing(44);
		color: $uni-text-color-inverse;
		position: fixed;
		left: new-sizing(0);right: new-sizing(0);bottom: new-sizing(100);
		margin: auto;
	}
	.add::after{ border: none;} 
	.content{
		width: 100%;
		@include flex(column);
		align-items: center;
		.addresslist-item{
			width: new-sizing(345);min-height: new-sizing(80);
			background: $uni-bg-color;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
			box-sizing: border-box;
			border-radius: new-sizing(6);
			margin-top: new-sizing(10);
			padding: 0 new-sizing(15);
			position: relative;
			.addresslist-item-content{
				width: 100%;
				@include flex(column)
				padding: new-sizing(10) new-sizing(0);
				// margin-bottom: new-sizing(10);
				.content-body{
					@include flex(row);
					margin-bottom: new-sizing(10);
					.default{
						display: inline-block;
						color: #6556FD ;
						background: rgba(26,205,804,0.2);
						margin-right: new-sizing(6);
						padding: 0 new-sizing(4);
					}
					.name{
						font-size: new-sizing(14);
						color: $uni-text-color;
						font-weight: 600;
						margin-right: new-sizing(6);
					}
					.tel{
						font-size: new-sizing(13);
						color: $uni-text-color;
						opacity: 0.7;
					}
				}
				.content-add{
					width: 76%;
					color: $uni-text-color-grey;
					font-size: new-sizing(13);
					opacity: 0.7;
				}
			}
			.edit{
				width: new-sizing(20);height: new-sizing(20);
				position: absolute;
				right: new-sizing(50);top: 0; bottom: 0;margin: auto;
			}
			.delete{
				width: new-sizing(20);height: new-sizing(20);
				position: absolute;
				right: new-sizing(20);top: 0; bottom: 0;margin: auto;
			}
		}
	}