.header{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: $uni-bg-color;
	.page-header {
		@include flex(row);height: new-sizing(36);
		align-items: center;
		padding: 0 new-sizing(15);
		position: relative;
		background-color: linear-gradient(119.4deg, #87D3FF 13.53%, #99A9FF 65.51%, #3F7CFF 111.38%);
		.back {
			@include flex(row);
			justify-content: center;
			align-items: center;
			.icon {
				width: new-sizing(28);
				height: new-sizing(28);
			}
		}
		.title {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			.text {
				font-size: new-sizing(18);
				line-height: new-sizing(25);
			}
		}
	}
}
.header-holder{
	height: new-sizing(80);
}
.tablist{
		width: 100%;
	}
	.empty{
		width: 100%;height: new-sizing(400);
		position: absolute;
		top: 0;bottom: 0;left: 0;right: 0;
		margin: auto;
		z-index: -1;
	}
.couponlist{
	width: 100%;
	@include flex(column);
	align-items: center;
	.item{
		@include flex(row);
		justify-content: center;
		align-items: center;
		width: new-sizing(345);height: new-sizing(100);
		margin-bottom: new-sizing(10);
		border: new-sizing(2) dashed #C8CBCB;
		position: relative;
		overflow: hidden;
		.left{
			@include flex(column);
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			padding: new-sizing(10);
			border-radius: new-sizing(5);
			background-color: #6556FD;
			width: new-sizing(100);height: 100%;
			.num{
				text{
					color: $uni-text-color-inverse;
				}
				.number{
					font-size: new-sizing(35);
				}
			}
			.limit{
				color: $uni-text-color-inverse;
				font-size: new-sizing(12)
			}
		}
		.right{
			@include flex(column);
			justify-content: space-between;
			box-sizing: border-box;
			padding: new-sizing(15) new-sizing(10);
			width: new-sizing(245);height: 100%;
			.date{
				color: rgba(51, 60, 79, 0.7);
			}
			.title{
				.tips{
					margin-left: new-sizing(5);
					font-size: new-sizing(9);
					color: #FF3F3F;
				}
			}
		}
		.use{
			position: absolute;
			top: 0;bottom: 0;right: new-sizing(10);
			margin: auto;
			width: new-sizing(50);height: new-sizing(26);
			border: new-sizing(1) solid #6556FD;
			border-radius: new-sizing(14);
			font-size: new-sizing(14);
			line-height: new-sizing(24);
			text-align: center;
			color: #6556FD;
		}
		.used,.invalid{
			position: absolute;
			width: new-sizing(80);height: new-sizing(100);
			top: 0;bottom: 0;right: new-sizing(-15);
			margin: auto;
		}
	}
}
button::after { border: none; }